*.pyc
*.idea
*.DS_Store
*.png
*.pkl
*.pth.tar
*.pth
*.yaml
*.json
logs
data
notebooks/imgs
notebooks/logs_zero_shot/square_maze
notebooks/arbitrary_zero_shot_logs/square_maze
laplacian_dual_dynamics
temp